.tagForm
{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 12.08vh;
  

.tips{
    text-align: center;
    margin: 0;
  }
  
  .actions{
    padding: 0 16px 16px 16px;
    display: flex;
    justify-content: space-between;
    .removeTags, .removeTagsAndItems{
      width: calc(50% - 8px);
    }
  }
  .buttondiv{
    width: 41.4vw;
    height: 6.8vh;
    align-self: center;
    .button{
      
      
      border-radius: 15px;
      font-size: var(--mini-font-size);
      background: linear-gradient(135deg, var(--btn-bgColor-end) 0%, var(--btn-bgColor-start) 100%);
       box-shadow: 0px 8px 12px 0px rgba(255, 97, 97, 0.5);
    
    }
  }
  
}