.wrapper
{
  width: 100%;
  
  display: flex;
  flex-direction: column;
 
  .item{
    margin-top: 2.76vh;
    
    
  } 
  .footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.89vh;
    color: var( --btn-unSelected-color);
  } 
}