
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 100%;
     height: 79vh;

    >.content {
     
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        //height:684.14px;
        height: 100%; //684.14px
        >.icon {
            width: 100%;
            height: 49.4vh;
        }
        >h2 {
            display: flex;
            text-align: center;
        }

        >a {
            margin-top: 1.9%;
            font-size: var(--normal-font-size);
            color: var(--hint-font-color);
        }
        .nextBtn {
            margin-top: 6.32vh;
            width: 250px;
            height: 7vh;
            opacity: 1;
            z-index: 10;
           
        }
    
    }
}