.bottomBar {
  width: 97%;
  background-color: white;
  z-index: 10;
  position: fixed;
  
  bottom: 1.52vh;
  
  height: 11.38vh;
  border-radius: 3rem;
  box-shadow: var(--black-shadow);
  display: grid;
  align-items: center;
  // grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-columns: auto auto auto auto auto;
  font-size: calc(var(--bigger-font-size)*1.17);
  justify-items: center;

  .icon {
    color: var(--btn-unSelected-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
    &.selected {
      color: var(--page-bgColor-end);
    }
  }

  .icon:nth-child(3) {
    color: white;
    background: linear-gradient(137.26deg, var(--page-bgColor-start) 0%, var(--page-bgColor-end) 100%);
    font-size: var(--bigger-font-size);
    width: 8.2vh;
    height:8.2vh;
    border-radius: 50%;
    
    &.selected {
      // transform: rotate(45deg);
      box-shadow: 0px 6px 10px 0px rgba(255, 169, 67, 0.4);
    }
  }

  .icon:nth-child(1) {
    margin-left: var(--bottom-margin-distance);

  }

  .icon:last-child {
    margin-right: var(--bottom-margin-distance);
  }
}