.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon{
        width: 36.54vh;
        height: 36.54vh;
    }
    .text{
        font-size: var(--big-font-size);
    }
}