@font-face {
    font-family: "iconfont"; /* Project id 3828561 */
    src: url('../assets/icons/TextIcons/iconfont.woff2?t=1671197779939') format('woff2'),
         url('../assets/icons/TextIcons/iconfont.woff?t=1671197779939') format('woff'),
         url('../assets/icons/TextIcons/iconfont.ttf?t=1671197779939') format('truetype');
  }
.TextIcon{
    font-family: "iconfont";
}