.wrapper{
    height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   .tabPage {
    position: relative;
    top: 19.9vh;
    display: flex;
    flex-direction: column;
   }
}